@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
:root {
    --background: #ffffff;
    --screen: rgba(202, 191, 145, 0.2);
    --text: #525791;
    --highlight: #c5a240;
}
.screen {
    border: 5px solid var(--text);
    border-radius: 10px;
    background-color: var(--screen);
    width: 90%;
    height: 90%;
    padding: 10px;
    margin: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
    text-align: center;
}
.header h1, .footer {
    width: 100%;
    min-height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.title.home:hover,
.title:hover,
.social:hover {
    color: var(--highlight);
    cursor: pointer;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
form .input {
    color: var(--text);
    background-color: var(--background);
    border: 2px solid var(--text);
    border-radius: 5px;
    width: 80%;
    margin: 5px ;
    padding: 5px;
    font-family: "Pathway Extreme", sans-serif;
}
body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background-color: linear-gradiet(300deg, #809bd0, #909d9d);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
   }
#search {
    padding: 1rem;
    border-radius: 25px;
    border: none;
    background-color: #fff;
    font-family: inherit;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    min-width: 300px;
    font-size: 1rem;
}