@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
:root {
    --background: #ffffff;
    --screen: rgba(202, 191, 145, 0.2);
    --text: #525791;
    --highlight: #c5a240;
}